body {
    font: 21px "微軟正黑體", "Helvetica Neue", "Microsoft JhengHei", Helvetica, Arial, sans-serif;
}

a:hover {
    color: inherit;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbbbbb;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bbbbbb;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bbbbbb;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bbbbbb;
}

#slid3,#slid2	{display: none;}
#main {
    background-color: #fcc0d7;
    width: 100%;
	position: absolute;
	top: 0;
    height: 600px;
}
/* 2020修改 */
#main .logo {
    width: 500px;
    height: auto;
    padding: 0;
    position: absolute;
    top: 42px;
    left: 46px;
}

#main .logo img {
    width: 100%;
}

.lan_nav_ot{position: absolute;top:55px;right: 32px;font-size: 18px;line-height: 27px;color: #fff;z-index: 9999;width: 177px;height: 30px;padding-left: 10px;background-color:#dd508e;background-image: url(../images/lan_arr.png);background-position: 165px center;background-repeat: no-repeat;cursor: pointer;}
.lan_nav_ot_bg1{background-image: url(../images/lan_arr.png);background-color: #dd508e;}
.lan_nav_ot_bg2{background-image: url(../images/lan_arr.png);background-color: #095fac;}
.lan_nav_ot_bg3{background-image: url(../images/lan_arr.png);background-color: #e47725;}
.lan_nav_in{position: absolute;top: 55px;right: 32px;font-size: 18px;line-height: 27px;color: #fff;z-index: 99999;width: 177px;height: 30px;padding-left: 10px;background-color:#dd508e;background-image: url(../images/lan_arr.png);background-position: 165px center;background-repeat: no-repeat;cursor: pointer;margin-top: 30px;display: none;}
.language_in{width: 177px;height: 30px;padding-left: 10px;background-color:#dd508e;display: block;margin-left: -10px;color: #fff;}
.language_in:hover{background-color: #f178ae;}
.lan_nav1{display: block;}
.lan_nav2{display: none;}

.maincontent {
    height: auto;
    position: absolute;
    top: 125px;
    left: 20%;
}


.title_l {
	width: 100%;
    font-size: 57px;
    color: #fff;
    top: 60px;
    left: 220px;
    font-weight: bold;
}

.title_s {
    top: 60px;
    left: 220px;
    padding-left: 3px;
    color: #6f6e6f;
}
.title_s_pc{display: block;}
.title_s_mb{display: none;}
	.icon_1{
		height: 120px;
		background-image: url(../Images/icon_index_1.png);
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 60px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		line-height: 60px;
		border-bottom: 2px #fff solid ;
	}
		.icon_2{
		height: 120px;
		background-image: url(../Images/icon_index_2.png);
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 60px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		line-height: 60px;
		border-bottom: 2px #fff solid ;
	}
	.icon_3{
		height: 120px;
		background-image: url(../Images/icon_index_3.png);
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 60px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		line-height: 60px;
		border-bottom: 2px #fff solid ;
	}
.mainbg {
    width:460px;
    max-width: 467px;
    height: 415px;
    margin-left: 50%;
    position: relative;
    background-image: url(../Images/photo_index_1.png);
    background-repeat: no-repeat;
    background-size: 100%; 
    top: 40px
}



.btn_index {
	cursor: pointer;
    width: 150px;
    height: 40px;
    border: 2px #fff solid;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    position: relative;
    top: 50px;
}

.btn_index p {
    color: #fff;
    font-size: 21px;
    line-height: 42px;
    text-align: center;
}
.colorinput{display: flex; margin-top: 20px; width: 30vw;height:44px;min-width: 300px;}
.colorinput_muti{display: block; width: 41vw;min-width: 300px;}
.theinput{width: 300px;}
.theinput input{
	display: inline-flex;
	float: left;
	width: 100%;
	height: 40px;
	font-size: 20px;
	padding-left: 20px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.theinput_round{display: block; }
.theinput_round input{
	border-radius: 50px;
	margin-top: 15px;
	float: left;
}
.r1{width: 300px;}
.r2{width: 170px;}
.certify_image{
	display: block;
	float: left;
	width: 120px;
	height: 36px;
	margin-left: 8px;
	margin-top: 19px;
}
.c_img{
	width: 120px;
	height: 36px;
}
.btn_refresh{
	display: block;
	width: 36px;
	height: 36px;
	cursor: pointer;
	background: url(../images/b_reset.png);
	background-size: 100%;
	float: left;
	margin: 18px 0 0 8px;
}
.btn_refresh:active{
	background: url(../images/b_reset_h.png);
	background-size: 100%;
}
input:focus{outline:none}
.btn_index2 {
	display: inline-flex;
	float: left;
	cursor: pointer;
    width: 55px;
    height: 40px;
    border: 2px #fff solid;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    /*position: relative;*/
    top: 50px;
}
.btn_index2 p {
	margin-left: 8px;
    color: #fff;
    font-size: 21px;
    line-height: 42px;
    text-align: center;
}

.btn_index3_outline {
	display: block;
	width: 100px;
}
.btn_index3 {
	display: flex;
	margin-top: 15px;
	cursor: pointer;
    width: 120px;
    height: 40px;
    border: 2px #fff solid;
    border-radius: 25px;
    position: relative;
    top: 15px;
}
.btn_index3 p {
	margin-left: 42px;
    color: #fff;
    font-size: 21px;
    line-height: 42px;
    text-align: center;
}
.btn1 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de70b4+2,de4e8e+75,b93378+100 */
    background: #de70b4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #de70b4 2%, #de4e8e 75%, #b93378 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #de70b4 2%, #de4e8e 75%, #b93378 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #de70b4 2%, #de4e8e 75%, #b93378 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de70b4', endColorstr='#b93378', GradientType=0);
    /* IE6-9 */
}

.btn1:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b93378+0,de4e8e+43,de70b4+100 */
    background: #b93378;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b93378 0%, #de4e8e 43%, #de70b4 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b93378 0%, #de4e8e 43%, #de70b4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b93378 0%, #de4e8e 43%, #de70b4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b93378', endColorstr='#de70b4', GradientType=0);
    /* IE6-9 */
}

.btn2 {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0099d5+3,0071bc+62,004473+100 */
background: #0099d5; /* Old browsers */
background: -moz-linear-gradient(top, #0099d5 3%, #0071bc 62%, #004473 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0099d5 3%,#0071bc 62%,#004473 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0099d5 3%,#0071bc 62%,#004473 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099d5', endColorstr='#004473',GradientType=0 ); /* IE6-9 */}

.btn2:hover {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004473+0,0071bc+43,0071bc+43,0099d5+100 */
background: #004473; /* Old browsers */
background: -moz-linear-gradient(top, #004473 0%, #0071bc 43%, #0071bc 43%, #0099d5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #004473 0%,#0071bc 43%,#0071bc 43%,#0099d5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #004473 0%,#0071bc 43%,#0071bc 43%,#0099d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004473', endColorstr='#0099d5',GradientType=0 ); /* IE6-9 */}

.btn3 {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb779+20,fc8c5c+75,e06c46+100 */
background: #ffb779; /* Old browsers */
background: -moz-linear-gradient(top, #ffb779 20%, #fc8c5c 75%, #e06c46 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffb779 20%,#fc8c5c 75%,#e06c46 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffb779 20%,#fc8c5c 75%,#e06c46 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb779', endColorstr='#e06c46',GradientType=0 ); /* IE6-9 */}

.btn3:hover {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e06c46+0,fc8c5c+43,ffb779+100 */
background: #e06c46; /* Old browsers */
background: -moz-linear-gradient(top, #e06c46 0%, #fc8c5c 43%, #ffb779 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e06c46 0%,#fc8c5c 43%,#ffb779 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e06c46 0%,#fc8c5c 43%,#ffb779 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e06c46', endColorstr='#ffb779',GradientType=0 ); /* IE6-9 */}

#btn_chose {
	position: absolute;
	top: 600px;
    width: 100%;
    min-width: 800px;
    background-image: url(../Images/bg_pattern.png);
    background-position: right;
    background-repeat: no-repeat;
    /* height: 222px; */
}

.btns {
    width: 62%;
    height: 222px;
    margin: 0 auto;
    position: relative;
    top: -65px;
}

.btn_61 {
	cursor: pointer;
    float: left;
    width: 15.5vw;
    height: 18vw;
    max-height: 235px;
    max-width: 203px;
    background-image: url(../Images/b_index_1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 4vw;
}
.btn_61:hover{
	background-image: url(../Images/b_index_1_h.png);
}

.btn_62 {
	cursor: pointer;
    float: left;
    width: 16vw;
    height: 18vw;
    max-height: 235px;
    max-width: 203px;
    background-image: url(../Images/b_index_2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left:4vw;
}
.btn_62:hover{
	background-image: url(../Images/b_index_2_h.png);
}

.btn_63 {
	cursor: pointer;
    float: left;
    width: 16vw;
    height: 18vw;
    max-height: 235px;
    max-width: 203px;
    background-image: url(../Images/b_index_3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 4vw;
}
.btn_63:hover{
	background-image: url(../Images/b_index_3_h.png);
}

.footer {
    clear: both;
    width: 100%;
    min-width: 760px;
    height: 75px;
    background-color: #de4e8e;
    text-align: center;
    color: #fff;
    font-size: 13px;
	position: absolute;
	top: 750px;
}

.footer p:first-child {
	display: block;
    padding-top: 20px;
}

.footer a{color: #fff;}
@media (max-width: 900px) {
	.maincontent {
		height: auto;
		position: absolute;
		top: 125px;
		left: 14%;
	}
	.mainbg {
	    width: 46vw;
	    max-width: 467px;
	    height: 46vw;
	    margin-left: 46%;
	    position: relative;
	    background-image: url(../Images/photo_index_1.png);
	    background-repeat: no-repeat;
	    background-size: 100%; 
	    top: 70px
	}
	.title_l {
		font-size: 32px;
		/* line-height: 33px; */
	    color: #fff;
	    top: 60px;
	    left: 220px;
	}

	.title_s {
		font-size: 16px;
	    top: 60px;
	    left: 220px;
	    padding-left: 3px;
	    color: #6f6e6f;
	}
	
	.theinput{width: 200px;}
	.theinput input{font-size:12px ;padding-left: 12px;}
	.r1{width: 250px;}
	.r2{width: 116px;}
	
	.icon_1,.icon_2,.icon_3{width: 160px;line-height: 45px;height: 90px;}
}
@media (max-width: 800px) {
	#main {
    background-color: #fcc0d7;
    width: 100%;
    min-width: 800px;
    /* height: 860px; */
	height: 1000px; 
	}
	.mainbg {
	    width: 300px;
	    max-width: 467px;
	    height: 400px;
	    margin:0 auto;
	    position: relative;
	    background-image: url(../Images/photo_index_1.png);
	    background-repeat: no-repeat;
	    background-size: 100%; 
	    top: 120px
	}


	.lan_nav_ot{position: fixed;top:45px;right: 45px;font-size: 18px;line-height: 27px;color: #fff;z-index: 9999;width: 54px;height: 54px;padding-left: 10px;background-color:unset;background-position: center;background-repeat: no-repeat;cursor: pointer;}
	.lan_nav_ot_bg1{background-image: url(../images/gball_1.png);background-color: unset;}
	.lan_nav_ot_bg2{background-image: url(../images/gball_2.png);background-color: unset;}
	.lan_nav_ot_bg3{background-image: url(../images/gball_3.png);background-color: unset;}
	.lan_nav_in{position: fixed;top: 0px;right: 0px;font-size: 30px;line-height: 27px;color: #fff;z-index: 99999;width: 250px;height: 104px;display: none;background-color: #dd508e;padding-left: 80px;background-image: url(../images/gball_w.png);background-position: 20px 50px;background-repeat: no-repeat;line-height: 146px;display: none;margin-top: 0;}
	.language_in{width: 258px;height: 51px;padding-left: 90px;background-color:#dd508e;margin-left: -80px;line-height: 44px;}
	.lan_nav1{display: none;}
	.lan_nav2{display: block;line-height: 65px;margin-top: 39px;}
	
	.maincontent {
		margin:0 auto;
	    height: auto;
	    position: relative;
	    	width: 81%;
    top: 46px;
    left: 0%;
	}


	.icon_1{
		text-align: center;
		width: 584px;
		/* float: left; */
		height: 60px;
		background-image: url(../Images/icon_index_1.png);
		background-repeat: no-repeat;
		background-position:left;
		margin:0 auto;
		padding-left: 60px;
		padding-bottom: 25px;
		line-height: 60px;
		border-bottom: 2px #fff solid ;
	}
	.icon_2{
		text-align: center;
		width: 584px;
		/* float: left; */
		height: 60px;
		background-image: url(../Images/icon_index_2.png);
		background-repeat: no-repeat;
		background-position: left;
		margin:0 auto;
		padding-left: 60px;
		padding-bottom: 25px;
		line-height: 60px;
		border-bottom: 2px #fff solid ;
	}
	.icon_3{
		text-align: center;
		width: 584px;
		/* float: left; */
		height: 60px;
		background-image: url(../Images/icon_index_3.png);
		background-repeat: no-repeat;
		background-position: left;
		margin:0 auto;
		padding-left: 60px;
		padding-bottom: 25px;
		line-height: 60px;
		border-bottom: 2px #fff solid ;
	}
	.title_l {
		float: left;
	    font-size: 2.5em;
	    color: #fff;
	    margin:20px 0 0 10px;
		font-weight: bold;
	}

	.title_s {
	    /* padding-top: 80px; */
		/* left: 0px; */
		/* margin-left: 9%; */
		line-height: 30px;
		width: 515px;
		margin: 0 auto;
	    /* padding-left: 3px; */
	    color: #6f6e6f;
	    font-size: 30px;
	    line-height: 50px;
	}
	.title_s_pc{display: none;}
	.title_s_mb{display: block;}
	#slid3 .title_s{width: 660px;}
	#slid2 .title_s{width: 660px;}
	#slid1 .title_s{width: 660px;}
	
	.btn_index {
	    width: 200px;
	    height: 60px;
	    border: 2px #fff solid;
	    border-top-left-radius: 50px;
	    border-top-right-radius: 50px;
	    border-bottom-left-radius: 50px;
	    border-bottom-right-radius: 50px;

	    position: relative;
	    top: 30px;
	    margin:0 auto;
	}

	.btn_index p {
	    color: #fff;
	    font-size: 30px;
	    line-height: 60px;
	    text-align: center;
	}
	.colorinput{margin: 35px auto; width: 560px;height:60px;min-width: 383px;}
	.colorinput_muti{ width: 60vw;height:60px;min-width:500px;}
	.btn_index2 {
		float: left;
		cursor: pointer;
	    width: 70px;
	    height: 60px;
	    border: 2px #fff solid;
	    border-top-right-radius: 50px;
	    border-bottom-right-radius: 50px;
	    top: 50px;
	}
	.btn_index2 p {
	    color: #fff;
	    font-size: 1.3em;
	    line-height: 60px;
	    text-align: center;
	}
	.btn_index3 {
		float: left;
		cursor: pointer;
	    width: 150px;
	    height: 60px;
	    border: 2px #fff solid;
	    border-radius: 50px;
	    top: 0;
		left: 0;
	}
	.btn_index3 p {
	    color: #fff;
	    font-size: 1.3em;
	    line-height: 60px;
	    text-align: center;
		margin-left: 52px;
	}
	.theinput{width: 525px;}
	.theinput input{
	float: left;
	width: 100%;
	height: 60px;
	font-size: 25px;
	padding-left: 20px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	}
	.r1{width: 380px;}
	.r2{width: 185px;}

	.certify_image{
		width: 180px;
		height: 54px;
		margin-left: 8px;
		margin-top: 19px;
	}
	.c_img{
		width: 180px;
		height: 54px;
	}
	.btn_refresh{
		width: 56px;
		height: 56px;
		margin: 18px 0 0 8px;
	}
	.btn_refresh:active{
		background-size: 100%;
	}
	.btns {
	    width: 800px;
	    height: 222px;
	    margin: 0 auto;
	    position: relative;
	    top: -65px;
	}
	.btn_61 {
	    float: left;
	    width: 255px;
	    height: 280px;
	    max-height: 280px;
	    max-width: 255px;
	    background-image: url(../Images/b_index_1.png);
	    background-repeat: no-repeat;
	    background-size: 100%;
	    margin-left: 20px;
	}

	.btn_62 {
	    float: left;
	    width: 255px;
	    height: 280px;
	    max-height: 280px;
	    max-width: 255px;
	    background-image: url(../Images/b_index_2.png);
	    background-repeat: no-repeat;
	    background-size: 100%;
	    margin-left:0vw;
	}
	#btn_chose{
		position: absolute;
		top: 1000px;
		height: 231px;
		background-size: 300px 280px;}
	.btn_63 {
	    float: left;
	    width: 255px;
	    height: 280px;
	    max-height: 280px;
	    max-width: 255px;
	    background-image: url(../Images/b_index_3.png);
	    background-repeat: no-repeat;
	    background-size: 100%;
	    margin-left: 0vw;
	}

	/* .footer{
		height: auto;
		font-size: 25px;
		padding: 20px;
		width: 760px;
	} */
	.footer{
		position: absolute;
		top: 1231px;
		height: auto;
		font-size: 25px;
		padding: 20px;
		width: 760px;
	}
	.footer p:first-child {
	    display: none;
	}
	.footer p:last-child{
		display: block;
		width: 760px;
	}

}

