.pink_b{color: #de4e8e;font-weight: bold;}

#main {
  background-color: #fff0fb;
}


#top_bg{width: 100%;height: 131px;background-image: url(../Images/title_service1.png);background-position: center; background-repeat: no-repeat;position: relative; top: -23px;}


.steps1{width: 617px;height: 45px;background-image: url(../Images/step1_1.png);background-position: center;background-repeat: no-repeat;margin: 0 auto;background-size: 100%;}
.steps2{width: 617px;height: 45px;background-image: url(../Images/step1_2.png);background-position: center;background-repeat: no-repeat;margin: 0 auto;background-size: 100%;}
.steps3{width: 617px;height: 45px;background-image: url(../Images/step1_3.png);background-position: center;background-repeat: no-repeat;margin: 0 auto;background-size: 100%;}



.last_use{margin: 30px auto;}
.search_area{overflow: inherit; display:inline-block;margin: 30px 15%;background-color: #de70b4;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}
.spot_info{width: 600px;overflow: inherit;}
.service_area{width: 100%;max-width: 1120px; margin: 30px auto;
justify-content: center;}
.ticket_btn{width: 349px;display: flex;display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
justify-content: space-between;margin-bottom: 60px;}
.notice_area{width: 45%;height: auto;margin: 30px auto;background-color: #f5c8e5; border-top-right-radius: 25px;border-top-left-radius: 25px;border-bottom-right-radius: 25px;border-bottom-left-radius: 25px;}
.notice_area p{padding:20px 20px;font-size: 20px;text-align: center;}
/*btn*/
.btn_search{width: 87px;height: 35px;background-image: url(../Images/b_search1.png);float: right;margin: 20px 30px 15px 0px;cursor: pointer;-webkit-background-size: 100%;background-size: 100%;}
.btn_search:hover{background-image: url(../Images/b_search1_h.png);}

.btn_back{width: 134px;height: 43px;background-image: url(../Images/b_back1.png);float: left;margin: 20px 0px 15px 25%;cursor: pointer;margin-bottom: 60px;-webkit-background-size: 100%;background-size: 100%;}
.btn_back:hover{background-image: url(../Images/b_back1_h.png);}

.btn_check{width: 134px;height: 43px;background-image: url(../Images/b_check1.png);float: right;margin: 20px 25% 15px 0px;cursor: pointer;margin-bottom: 60px;-webkit-background-size: 100%;background-size: 100%;}
.btn_check:hover{background-image: url(../Images/b_check1_h.png);}
/*  */
.btn_uncheck{width: 134px;height: 43px;background-image: url(../Images/b_check3.png);float: right;margin: 20px 25% 15px 0px;margin-bottom: 60px;-webkit-background-size: 100%;background-size: 100%;}
/*  */
.btn_renew{float: right;margin-top: -100px; width: 170px;height: 43px;background-image: url(../Images/b_Update.png);cursor: pointer;-webkit-background-size: 100%;background-size: 100%;}
.btn_renew:hover{background-image: url(../Images/b_Update_h.png);}
.btn_take{float: left; width: 200px;height: 43px;margin: 100px 0 20px 180px;-webkit-background-size: 100%;background-size: 100%;}
.take1{background-image: url(../Images/b_ticketing1.png);}
.take1:hover{background-image: url(../Images/b_ticketing1_h.png);}
.take2{background-image: url(../Images/b_ticketing2.png);}
.take2:hover{background-image: url(../Images/b_ticketing2_h.png);}
.take3{background-image: url(../Images/b_ticketing3.png);}
.take3:hover{background-image: url(../Images/b_ticketing3_h.png);}
.take4{background-image: url(../Images/b_ticketing4.png);}
.take4:hover{background-image: url(../Images/b_ticketing4_h.png);}
/*  */
.canNotTake{background-image: url(../Images/b_ticketing5.png);cursor: auto;}
/*  */
.btn_save{ width: 170px;height: 43px;background-image: url(../Images/b_save1.png);cursor: pointer;-webkit-background-size: 100%;background-size: 100%;display:inline-block;}
.btn_save:hover{background-image: url(../Images/b_save1_h.png);}
.btn_print{width: 170px;height: 43px;background-image: url(../Images/b_print1.png);cursor: pointer;-webkit-background-size: 100%;background-size: 100%;display:inline-block;}
.btn_print:hover{background-image: url(../Images/b_print1_h.png);}
/*V1_1*/


.spotTable { clear: both; margin:30px 0;}
.spotTable h3 { font-size: 28px; color: #C00; }
.spotTable table { width: 100%; border-collapse: separate;  }
.spotTable tr:first-child {color: #de4e8e;text-align: center;}
.last_tb_color tr:first-child{color: #4f4c4b;}
.spotTable th, .spotTable td { border-right: 1px solid #fff0fb; border-bottom: 1px solid #fff0fb; padding: 10px 5px; vertical-align: middle; }
.spotTable tr:first-child th, .spotTable tr:first-child td { border-top: 1px solid #fff0fb;text-align: center; }
.spotTable th:nth-child(1) { border-left: 1px solid #fff0fb; }
.spotTable tr:not(:first-child) th,.last_tb_color th input{text-align: center;padding-left: 0px;}
.spotTable tr:first-child th:first-child { border-top-left-radius: 20px; }
.spotTable tr:last-child th:first-child { border-bottom-left-radius: 20px;}
.spotTable tr:first-child td:last-child { border-top-right-radius: 20px;}
.spotTable tr:last-child td:last-child { border-bottom-right-radius: 20px;}
.spotTable tr th{min-width: 40px;}
.spotTable tr td:nth-child(3){text-align: center;width: 2%;}
.spotTable tr td:nth-child(2){text-align: center;width: 22%;min-width: 150px;}
.spotTable tr td:nth-child(2){width: 22%;}
.last_tb_color tr td:nth-child(3){width: 2%;text-align: left;padding-left: 15px;}
.spotTable tr:not(:first-child) td:nth-child(3){padding-left: 15px;}
.spotTable tr:not(:first-child) td{padding-left: 15px;text-align: left;}
.spotTable tr:not(:first-child) td:nth-child(3){background-image: url(../Images/icon_map1.png);background-position: center; background-repeat: no-repeat;-webkit-background-size: 20px;background-size: 20px;cursor: pointer;}
.last_tb_color tr td:nth-child(3){background-image: url(../Images/icon_map1.png);background-position: center; background-repeat: no-repeat;-webkit-background-size: 20px;background-size: 20px;cursor: pointer;}
/*首列*/
.spotTable th {text-align: left; background-color: #fff; font-weight: normal; width: 2%; line-height: 1em;}
/* .spotTable th input{float: left; margin-right: 15px;} */
.spotTable td { background-color: #FFF; width: 10%; }
.spotTable tr:not(:first-child):hover td,.spotTable tr:not(:first-child):hover th{background-color: #f5d3ec;}
.last_tb_color th{ line-height: 1em;}
.last_tb_color tr:hover td,.last_tb_color tr:hover th{background-color: #f5d3ec;}
.last_tb_color tr:first-child td {padding-left: 15px; text-align: left;}

.input_road{float: left; width: 221px;margin: 15px 20px 15px 20px;height: 44px;border:2px solid #de4e8e;}
.input_road input{width: 200px;height: 38px;font-size: 18px;padding-left: 15px;}
.input_road input:focus{outline: none;}



/*V1_2*/
.spot_info_en_2{width: 980px;overflow: inherit;}
.text_right{float: right; text-align: right;}
.text_left{float: left; text-align: left;}
.spot_info_p{width: 50%;font-size: 13px;margin-top: 30px;margin-bottom: 5px;}
.spot_title{width: 100%;font-size: 40px;margin-left: -5px;max-width: 800px;}
.hr{float: left;width: 100%;border-bottom: 1px #4f4c4b solid;}


.service{float:left; width: 560px;background-repeat: no-repeat;background-position:top center; }
.s1{background-image: url(../Images/s1_item1.png);}
.s2{background-image: url(../Images/s1_item2.png);}
.s3{background-image: url(../Images/s1_item3.png);}
.s4{background-image: url(../Images/s1_item4.png);}

.service_title{float: left; line-height: 57px; color: #fff;font-size: 30px;margin: 40px 0 0 0px;text-align: left;padding-left: 70px;width: 440px;text-shadow: #666666 1px 2px;}
.service_ty{float: left; color: #fff67c;padding-left: 70px;margin-top: 8px;line-height: 35px; font-size: 20px;width: 440px;}
.service_num_left{float: left; width: 280px;margin-top: 30px;}
.service_num_right{float: left; width: 280px;margin-top: 30px;}
.service_l_b{float: left;padding-left: 68px;text-align: center;width: 210px;font-size: 12px;}
.service_r_b{float: left;width: 210px;text-align: center;font-size: 12px;line-height: 18px;}
.service_tw{float: left; color: #fff;font-size: 49px;padding-left:68px;text-align:  center; width: 210px;margin-top: 10px;}
.service_tc{float: left; font-size: 49px;width:210px;text-align: center;margin-top: 10px;}
.c1{color: #2ab8c1;}
.c2{color: #ff8459;}
.c3{color: #6fb06e;}
.c4{color: #806aad;}
.ticket_area{width: 359px;
 margin: 50px auto;}
.ticket_img{width: 359px;height: auto;margin: 0px auto;}
.ticket_img img{width: 100%;}
/* .ticket{float: left;margin: 0 auto; width: 359px;height: auto;background-image   : url(../Images/receipt1.png),url(../Images/receipt3.png);background-repeat  : no-repeat,no-repeat;background-position: top,bottom;}
.ticket_in{float: left; width: 359px;height: auto;margin: 30px 0 ;background-image: url(../Images/receipt2.png);text-align: center; font-size: 16px;line-height: 25px;}
.ticket_title{font-size: 30px;padding-bottom: 10px;line-height: 30px;}
.ticket_number{font-size: 112px;padding-bottom: 10px;line-height: 80px;margin: 30px auto;}
.hr_dot{width: 90%;border-bottom: 1px #666 dashed;margin:10px auto;} */

.cs-skin-border > span {
  border-color: #de4e8e;
  color: #de4e8e;
}
.cs-skin-border .cs-selected span::after {
  color: #de4e8e;
}

.cs-skin-border.cs-active > span {
  color: #de4e8e;
}

.cs-skin-border .cs-options {
  color: #de4e8e;
}
.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
  background: #de4e8e;
}

@media (max-width: 1200px) {
  .spot_info_en_2{width: 800px;}
  .service_area{width: 560px;}
}
@media (max-width: 800px) {
    .steps1{width: 90%;background-size: 100%;height: 52px;}
    .steps2{width: 90%;background-size: 100%;height: 52px;}
    .steps3{width: 90%;background-size: 100%;height: 52px;}
    .back_step1{float: left; width: 224px;height: 45px;}
    .back_step2{float: left; width: 224px;height: 45px;margin-left: 5px;}
    #main ,section,table{font-size: 28px;}
    #main{padding-bottom:60px;}
    .center_area{width: 90%;}
    .search_area{margin:30px 5%;}

    .input_road{height: 60px; margin: 15px 20px 30px 20px;background-color: #fff;}
    .input_road input{font-size: 25px;height: 60px;border:none;}

    .spotTable th input{margin-left:0;}
    .spot_info_p{font-size: 22px;}
    .service_area{width: 700px;}
    .service{background-size: 100%;width: 700px;}
    .service_title{line-height: 63px;font-size: 38px;margin:57px 0 0 0px; padding-left: 86px;width: 516px;}
    .service_ty{line-height: 48px;font-size: 24px;margin-top:8px ; padding-left: 86px;width: 515px;}
    .service_num_left{width:348px;}
    .service_l_b{padding-left: 93px; width:255px;font-size: 18px;}
    .service_tw{padding-left: 93px;width: 255px;}
    .service_r_b{width:255px;font-size: 18px;line-height: 22px;}
    .service_tc{width: 255px;}

    .ticket_area{ display: flex;display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
/*justify-content: center;*/margin: 50px auto;}
/* 2020修改 */
.ticket_img{width: 648px;height: auto;margin: 0px auto;}
.ticket_img img{width: 100%;}
/*  */
    .ticket_btn{width: 252px;}

    .btn_search{width: 159px;height: 64px;background-image: url(../Images/b_search1.png);float: right;margin: 20px 40% 15px 40%;cursor: pointer;-webkit-background-size: 100%;background-size: 100%;background-repeat: no-repeat;}
    .btn_back{width: 199px;height: 64px;background-image: url(../Images/b_back1.png);float: left;margin: 0 0 0 100px;cursor: pointer;-webkit-background-size: 100%;background-size: 100%;}
    .btn_check{width: 199px;height: 64px;background-image: url(../Images/b_check1.png);float: right;margin: 0 100px 0 0;cursor: pointer;-webkit-background-size: 100%;background-size: 100%;}
    .btn_uncheck{width: 199px;height: 64px;background-image: url(../Images/b_check3.png);float: right;margin: 0 100px 0 0;cursor: pointer;-webkit-background-size: 100%;background-size: 100%;}
    .btn_renew{width: 253px;height: 64px;float: right;margin-top: 20px;margin-bottom: 20px; background-image: url(../Images/b_Update.png);cursor: pointer;-webkit-background-size: 100%;background-size: 100%;}
    .btn_take{width:300px;height: 64px;margin:115px 0 30px 200px;-webkit-background-size: 100%;background-size: 100%;}
    .btn_save{ width: 252px;height: 64px;background-image: url(../Images/b_save1.png);cursor: pointer;background-size: 100% 100%;display:inline-block;}
    .btn_print{ width: 252px;height: 64px;background-image: url(../Images/b_print1.png);cursor: pointer;background-size: 100% 100%;display:none;}

    .notice_area{width: 90%;font-size: 28px;height: auto;}
    .notice_area p{font-size: 28px;}

    div.cs-skin-border {
    /*background: #fff;*/
    font-size: 25px;/*check*/
    font-weight: 700;
    max-width: 200px;/*check*/}

    div.cs-skin-border > select {
    /*background: #fff;*/
    font-size: 25px;/*check*/
    font-weight: 700;
    max-width: 200px;/*check*/}

    
  }
  .magic-radio:checked + label:before{border:1px solid #de4e8e;}
  .magic-radio + label:after{background:#de4e8e;}

  
  
  