
/* ----- Header----- */
#header { position:relative; height:50px; background-color: #fff; z-index: 100; text-align: center; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);}
#header:after { clear: both; content: ""; display: inline-block; width: 100%; height: 5px; position: absolute; left: 0; bottom: -2px;
background: #0089d1;
background: -moz-linear-gradient(left,  #0089d1 5%, #01b6b2 95%);
background: -webkit-linear-gradient(left,  #0089d1 5%,#01b6b2 95%);
background: linear-gradient(to right,  #0089d1 5%,#01b6b2 95%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089d1', endColorstr='#01b6b2',GradientType=1 );
}
#header .logo { float:left; width:110px; height:auto; margin:13px 0; line-height: inherit; padding: 0;}
#header .logo img { width:100%; height:auto;}
#header .navbar-toggle {margin-right:0; padding: 9px 0;}
#header .navbar-toggle .icon-bar { background-color: #888;}
#header .log>li>a { display: inline-block; padding: 0;}
.MainNav a { color: #333; }
ul.dropdown-menu { font-size: 16px;}
@media (min-width: 768px){
	.navbar-index .navbar-nav { margin-left: 10px;}
	.navbar-index .navbar-nav.log { font-size: 12px; }
	.navbar-index .navbar-nav>li>a { padding: 18px 10px 12px;}
	.navbar-index .navbar-nav.log>li>a { padding: 0; }
}
@media (min-width: 992px){
	#header { height:80px;}
	#header .logo { width:140px; margin:25px 0 0;}
	#bs-example-navbar-collapse-1 { padding-top: 15px; }
	.navbar-index .navbar-nav { margin-left: 30px;}
	.navbar-index .navbar-nav.log { margin-left: 0; font-size: 14px; }
	.navbar-index .navbar-nav>li { margin: 0 0 0 30px;}
	.navbar-index .navbar-nav>li>a { padding: 20px 15px; font-weight: bold;}
	.navbar-index .navbar-nav.log>li>a { font-weight: normal; }
}
@media (max-width: 768px){
	#bs-example-navbar-collapse-1 { background-color: #F5F5F5; margin: 0 -30px; }
	.dropdown-menu>li>a { text-align: center; }
}

/* ----- Header for eventpage----- */
#header_ep { position:relative; height:50px; background-color: #fff; z-index: 100; text-align: center; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);}
#header_ep:after { clear: both; content: ""; display: inline-block; width: 100%; height: 5px; position: absolute; left: 0; bottom: -2px;
background: #0089d1;
background: -moz-linear-gradient(left,  #0089d1 5%, #01b6b2 95%);
background: -webkit-linear-gradient(left,  #0089d1 5%,#01b6b2 95%);
background: linear-gradient(to right,  #0089d1 5%,#01b6b2 95%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089d1', endColorstr='#01b6b2',GradientType=1 );
}
#header_ep .logo { float:left; width:110px; height:auto; margin:13px 0; line-height: inherit; padding: 0;}
#header_ep .logo img { width:100%; height:auto;}
@media (min-width: 992px){
	#header_ep { height:80px;}
	#header_ep .logo { width:140px; margin:25px 0 0;}
}

/* ----- Footer ----- */
#footer { position: relative; height: 170px; background:#666; text-align:center; font-size:12px; line-height: 20px; color:#FFF; clear:both;}
#footer a { color: #FFF; text-decoration: none;}
.footer_link { padding-top: 20px; }
.footer_url { margin-bottom: 5px;padding:0px; }
.footer_url > li { display:inline-block;}
.footer_url > li a { display: inline-block; margin-left: 1px; padding: 0 10px; position: relative;}
.footer_url > li a:before { content: ""; display: inline-block; width: 1px; height: 80%; position: absolute; left: -2px; top:1px; background-color: #999;}
.footer_url > li:first-of-type > a { margin-left: 0;}
.footer_url > li:first-of-type > a:before { content: none;}
.footer_url span { display: block; }
.footer_info p { margin-bottom: 5px; }
.footer_info span { display:block; margin-left: 0; }
@media (min-width: 768px){
        #footer { height: 120px;}
        .footer_info span { display: inline-block; margin-left: 15px;}
        .footer_url span{ display:inline-block; }
        .footer_url > li a:before { height: 60%; top:5px; left: -1px;}
}
@media (max-width: 480px) {
        .footer_url > li a { padding: 0 3px;}
}
